.contact{
  color: black;
  max-width: 880px;
  -moz-box-shadow: 10px 10px black;
  -webkit-box-shadow: 10px 10px black;
  box-shadow: 10px 10px black;
  padding: 0;
  margin: 200px 20px 0 20px;
  border-radius: 2px;
  background-color: #ffeda0;
  border: 10px solid black;
}

.contact__form{
    padding: 15px;
  

}

.contact__title{
    background-color: #c2f292;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100px;
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 10px solid black;
    margin: 0;

}
