.footer {
  display: block;
  color: #fff;
  height: auto;
  margin-top: 100px;
  padding: 1em;
}

.footer__copyright {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  text-align: center;
  color: black;
}

.footer__links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px auto;
  max-width: 25%;
}

.footer__link{
  color: black; 
  font-size: 2rem;
  padding: 20px;
}

.footer__link:hover {
  color: #fd698c;
  transition: ease-in-out 400ms;
}
