.intro {
  width: 80%;
  margin: 15rem auto 15rem;
  background-color: black;
}

.intro__text {
  color:#ffeda0 ;
  font-weight: 900;
  font-size: 2rem;
  text-align: left;
  margin: auto;
  padding: 2rem;
}