.nav{
  margin: 35px 150px 0px 150px;
}
.nav__logo {
  color: #000;
  font-weight: bold;
  font-size: 25px;
}

.nav__link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link:hover {
  color: #2046c2;
  transition: ease-in-out 400ms;
}

#nav .nav__link .active a{
  color: #2046c2 !important;
}
