.nav {
  padding: 0 9.5rem 1rem 9.5rem;
}
.nav__logo {
  color: white;
  text-decoration: underline;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 1px;
  padding: 20px 20px 10px 20px;
  background-color: black;
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: #c2f292;
  transition: ease-in-out 400ms;
}

.nav__link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link:hover {
  color: #fd698c;
  transition: ease-in-out 400ms;
}
