.portfolio{
  position: relative;
}

.portfolio__container{
  margin-top: 7rem;
}
.portfolio__title{
  width: 20rem;
  font-weight: 900;
  background-color: #c2f292;
  -moz-box-shadow: 10px 10px black;
  -webkit-box-shadow: 10px 10px black;
  box-shadow: 10px 10px black;
  border: 10px solid black;
  margin: auto;
  margin-top: 10rem;
  position: relative;
}

.portfolio__arrow-img{
  position: absolute;
  top:-175px;
  right: 170px;
}


.portfolio__button {
  margin-top: 20px;
  background-color: #fd698c;
  -moz-box-shadow: 2px 2px black;
  -webkit-box-shadow: 2px 2px black;
  box-shadow: 2px 2px black;
  border-radius: 1px;
  border: 2px solid black;
  color: black;
  font-weight: 600;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  width: 95px;
  text-align: center;
}

.portfolio__button:hover,
.portfolio__button:focus {
  background-color: rgba(253, 105, 140, 0.8);
  color: black;
  font-weight: 600;
}

.card {
  -moz-box-shadow: 5px 5px black;
  -webkit-box-shadow: 5px 5px black;
  box-shadow: 5px 5px black;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border: 5px solid black;
  padding: 0;
}

.card:focus{
  outline: none;
}

.portfolio__card-body {
  background-color: #ffeda0;
  color: black;
  padding: 0.5rem;
 
  
}

.portfolio__card-body:focus{
  outline: none;
}

.portfolio__card-image{
  display: block;
    padding: 0;
    border-radius: 0;
    height:auto;
    
}

.portfolio__card-image:focus{
  outline: none;
}

.portfolio__card-title{
    font-weight: 600;
}
